<ion-view title="Abflug" id="page2" style="background-color:#E3E3E3;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="abflug-card26">
      <ion-item class="positive" >In Kürze starbereit</ion-item>
    </div>

      <div class="row" ng-repeat="flight in flights">
         <div class="col s12 m6">
           <div class="card white lighten-5">
             <div class="card-content black-text">
               <span class="card-title">{{flight.Arrival.AirportCode}} ({{flight.MarketingCarrier.AirlineID}} {{flight.MarketingCarrier.FlightNumber}}) </span>
                 <p>Flugzeugtyp: {{flight.Equipment.AircraftCode}}</p>
                 <p>{{flight.Arrival.ScheduledTimeLocal.DateTime}}</p>
                 <p>Operated by {{ flight.MarketingCarrier.AirlineID | getAirline }}</p>

             </div>
             <div class="card-action">
               <a ng-if="flight.FlightStatus.Code=='DP'" style="color:red">Status: {{flight.FlightStatus.Definition}}</a>
               <a ng-if="flight.FlightStatus.Code=='OT'" style="color:green">Status: {{flight.FlightStatus.Definition}}</a>
               <a ng-if="flight.FlightStatus.Code=='NO'" style="color:black">Status: {{flight.FlightStatus.Definition}}</a>
               <a ng-if="flight.FlightStatus.Code=='LD'" style="color:green">Status: {{flight.FlightStatus.Definition}}</a>
               <a ng-if="flight.FlightStatus.Code=='FE' || flight.FlightStatus.Code=='NI' || flight.FlightStatus.Code=='NA'" style="color:black">{{flight.FlightStatus.Definition}}</a>

               <a href="#">Mehr Infos</a>
             </div>
           </div>
         </div>
       </div>

  </ion-content>
</ion-view>
