<ion-view title="Ankunft" style="background-color:#E3E3E3;">

  <ion-content padding="true" class="has-header">

    <ion-refresher pulling-text="Aktualisieren" on-refresh="refreshArrival()">
   </ion-refresher>

   <div class="row" ng-repeat="flight in flights">
     <div class="col s12 m7">
       <div class="card">
         <div class="card-image">
           <img src="img/flight_landing.png">
           <span class="card-title airportText">{{flight.Departure.AirportCode | getAirportName }} ({{ flight.Departure.AirportCode }})</span>
         </div>
         <div class="card-content">
           <span class="card-title"></span>
           <p>Flugnummer: {{flight.MarketingCarrier.AirlineID}} {{flight.MarketingCarrier.FlightNumber}}</p>
           <p>Flugzeugtyp: {{flight.Equipment.AircraftCode}}</p>
           <p>Avisierte Ankunft: {{flight.Arrival.ScheduledTimeLocal.DateTime | formatDate }}</p>
           <p ng-if="flight.Arrival.EstimatedTimeLocal.DateTime.length > 0">Geplante Ankunft: {{flight.Arrival.ScheduledTimeLocal.DateTime | formatDate }}</p>
           <p>Operated by {{ flight.MarketingCarrier.AirlineID | getAirline }}</p>
         </div>
         <div class="card-action">
           <a ng-if="flight.Arrival.TimeStatus.Code=='DP' || flight.Arrival.TimeStatus.Code=='DL'" style="color:red">{{flight.Arrival.TimeStatus.Definition}}</a>
           <a ng-if="flight.Arrival.TimeStatus.Code=='OT'" style="color:green">{{flight.Arrival.TimeStatus.Definition}}</a>
           <a ng-if="flight.Arrival.TimeStatus.Code=='NO'" style="color:black">{{flight.Arrival.TimeStatus.Definition}}</a>
           <a ng-if="flight.Arrival.TimeStatus.Code=='LD'" style="color:green">{{flight.Arrival.TimeStatus.Definition}}</a>
           <a ng-if="flight.Arrival.TimeStatus.Code=='FE' || flight.Arrival.TimeStatus.Code=='NI' || flight.Arrival.TimeStatus.Code=='NA'" style="color:black">{{flight.Arrival.TimeStatus.Definition}}</a>
           <a style="color:black">Ursprungsland: {{ flight.Departure.AirportCode | getCountryNameByIATA }}</a>
           <a ng-if="flight.Departure.Terminal.Gate.length > 0" style="color:black">Terminal: {{ flight.Departure.Terminal.Gate }}</a>


         </div>
       </div>
     </div>
   </div>

  </ion-content>
</ion-view>
