<ion-view title="Ankunft" style="background-color:#E3E3E3;">
  <ion-content padding="true" class="has-header">
    <ion-refresher pulling-text="Aktualisieren" on-refresh="refreshArrival()">
   </ion-refresher>

   <div class="col s12 m7">

   <div class="card horizontal" ng-repeat="flight in flights" >
     <!--<div class="card-image">
       <img src="https://www.philippineairlines.com/en/~/media/aircraft-desktop/a321-desk.jpg">
     </div>-->
     <div class="card-stacked">
       <div class="card-content">
         <strong>{{ flight.Departure.AirportCode | getAirportName }}</strong> ({{flight.MarketingCarrier.AirlineID}} {{flight.MarketingCarrier.FlightNumber}}) </span>
           <p>Flugzeugtyp: {{flight.Equipment.AircraftCode}}</p>
           <p>{{flight.Arrival.ScheduledTimeLocal.DateTime}}</p>
           <p>Operated by {{ flight.MarketingCarrier.AirlineID | getAirline }}</p>
       </div>
       <div class="card-action">
         <a ng-if="flight.FlightStatus.Code=='DP'" style="color:red">{{flight.FlightStatus.Definition}}</a>
         <a ng-if="flight.FlightStatus.Code=='OT'" style="color:green">{{flight.FlightStatus.Definition}}</a>
         <a ng-if="flight.FlightStatus.Code=='NO'" style="color:black">{{flight.FlightStatus.Definition}}</a>
         <a ng-if="flight.FlightStatus.Code=='LD'" style="color:green">{{flight.FlightStatus.Definition}}</a>
         <a ng-if="flight.FlightStatus.Code=='FE' || flight.FlightStatus.Code=='NI' || flight.FlightStatus.Code=='NA'" style="color:black">{{flight.FlightStatus.Definition}}</a>
       </div>
     </div>
   </div>
 </div>
  </ion-content>
</ion-view>
