<ion-view title="Ankunft" style="background-color:#E3E3E3;">
  <ion-content padding="true" class="has-header">

    <div class="row" ng-repeat="flight in flights">
       <div class="col s12 m6">
         <div class="card white lighten-5">
           <div class="card-content black-text">
             <span class="card-title">{{flight.Departure.AirportCode}} ({{flight.MarketingCarrier.AirlineID}} {{flight.MarketingCarrier.FlightNumber}}) </span>
             <p>Flugzeugtyp: {{flight.Equipment.AircraftCode}}</p>
               <p>{{flight.Arrival.ScheduledTimeLocal.DateTime}}</p>
           </div>
           <div class="card-action">
             <a ng-if="flight.FlightStatus.Code=='DP'" style="color:red">{{flight.FlightStatus.Definition}}</a>
             <a ng-if="flight.FlightStatus.Code=='OT'" style="color:green">{{flight.FlightStatus.Definition}}</a>
             <a ng-if="flight.FlightStatus.Code=='NO'" style="color:black">{{flight.FlightStatus.Definition}}</a>
             <a ng-if="flight.FlightStatus.Code=='LD'" style="color:green">{{flight.FlightStatus.Definition}}</a>
             <a ng-if="flight.FlightStatus.Code=='FE' || flight.FlightStatus.Code=='NI' || flight.FlightStatus.Code=='NA'" style="color:black">{{flight.FlightStatus.Definition}}</a>

             <a href="#">Mehr Infos</a>
           </div>
         </div>
       </div>
     </div>

    <button class="button button-positive" ng-click="reload()">Neu laden</button>
  </ion-content>
</ion-view>
