<ion-view title="Flughafen auswählen" style="background-color:#E3E3E3;">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <ion-item class="positive">In der Nähe</ion-item>
      <ion-list>
        <ion-item class="item-icon-right" ng-click="selectAirport(item.AirportCode)" ng-repeat="item in airports">{{item.Names.Name[0].$}} ({{item.AirportCode}})
          <i class="icon ion-android-arrow-dropright"></i>
        </ion-item>
      </ion-list>
    </div>

    <!--<div class="list card">
      <ion-item class="positive">Flughafen suchen</ion-item>
      <form  class="list">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" ng-model="searchField.search" placeholder="" ng-change="onSearchChanged()">
        </label>

        <ion-list >
          <ion-item class="item-icon-right">{{foundAirport}}
            <i class="icon ion-android-arrow-dropright"></i>
          </ion-item>
        </ion-list>
      </form>
    </div>-->
  </ion-content>
</ion-view>
