<ion-view title="Verbindung suchen" id="page8" style="background-color:#E3E3E3;">
  <ion-content padding="true" class="has-header">
    <form id="verbindungSuchen-form6" class="list">
      <label class="item item-input" id="verbindungSuchen-input3">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="verbindungSuchen-input4">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="verbindungSuchen-button1" class="button button-positive  button-block">Suchen</button>
  </ion-content>
</ion-view>