<ion-view title="Verbindung suchen" style="background-color:#E3E3E3;">
  <ion-content padding="true" class="has-header">
    <form  class="list">
      <label class="item item-input">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button class="button button-positive  button-block">Suchen</button>
  </ion-content>
</ion-view>
